{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
{% block additional_styles %}

<style alt="background-img">
	body {
		background-image: url("https://res.cloudinary.com/blueag8/image/upload/v1576281452/photography_website/Italy-Chairs.jpg");
        background: cover;
	}
</style>

<div class="login">
	<div class="panel panel-default">
		<div class="panel-body">

			<form method="POST">
				{% csrf_token %}
				{{login_form | as_bootstrap}}
				<button class= "btn btn-default" type="submit">Submit</button>
			</form>

			<p><a href="{% url 'password_reset'%}">Forgot Password?</a></p>
		</div>
	</div>
</div>

{% endblock %}
{% endblock %}