{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
{% block additional_styles %}
<style>
   body {
    background-image: url("{% static "img/Windows to the World Cambodja.jpg" %}");
   }
</style>

<div class="register">
<div class="panel panel-default">
  <div class="panel-body">
  
<p>Already have an account? <a href="{% url 'login' %}"> Sign in here</a></p>
    <form method= "POST">
    {% csrf_token %}
    {{registration_form|as_bootstrap}}
    <button class= "btn btn-default" type="submit">Sign Up</button>
    </form>
  </div>
  </div>
    </div>
 {% endblock %}
  {% endblock %}