{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
{% block additional_styles %}
<style alt="background-img">
	body {
		background-image: url("https://res.cloudinary.com/blueag8/image/upload/v1576281468/photography_website/Windows_to_the_World_Cambodja.jpg");
	    background:cover;;
    }
</style>

<div class="register">
	<div class="panel panel-default">
		<div class="panel-body">

			<p>Already have an account? <a href="{% url 'login' %}"> Sign in here</a></p>
			<form method="POST">
				{% csrf_token %}
				{{registration_form|as_bootstrap}}
				<button class= "btn btn-default" type="submit">Sign Up</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% endblock %}