{% extends 'base.html' %}

{% block page_title %}Password Reset Page{% endblock %}
{% block page_heading %}Reset Page{% endblock %}

{% block content %}
<p>If you already have an account <a href="{% url 'login' %}">Sign in here</a></p>
    <form method= "POST">
    <p>Please enter your email address</p>

    {% csrf_token %}
    {{ form.email.errors }}

    <p>
    <label for="id_email">Email address:</label>

    {{ form.email }}

    <button class= "submit">Reset Password</button>
    </p>
    </form>
{% endblock %}