{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
{% block additional_styles %}
<style>
   body {
    background-image: url("{% static "img/Windows-to-the-World-Morocco.jpg" %}");
   }
</style>


<div class="row row flex">
{% for product in products %}

<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-sm-6 col-md-4 display panel panel-default">

   <div class="panel-body">
   <div class="products" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

   <h3>{{ product.name }}</h3>
   <p class="product-description">{{ product.description }}</p>

   </div>
  
</div>
{% endfor %}
</div>
{% endblock %}
{% endblock %}