{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
{% block additional_styles %}
(<style alt="background-img">
	body {
		background-image: url("https://res.cloudinary.com/blueag8/image/upload/v1576281452/photography_website/Windows-to-the-World-Morocco.jpg");
	    background:cover;
    }
</style>
	}
</style>
{% endblock %}

{% for product in products %}
<div class="row row flex">
	<div class="col-sm-6 col-md-4 display panel panel-default">
		<div class="panel-body">
			<div class="products" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
            <h3><li><a href="{% url 'image' product.id %}">{{ product.name }}</a></li></h3>
			<p class="product-description">{{ product.description }}</p>

		</div>
	</div>
</div>
{% endfor %}
</div>

{% endblock %}