{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
{% block additional_styles %}
<style>
   body {
    background-image: url("{% static "img/Italy-Flowers-with-Dog.jpg" %}");
   }
</style>


<div class="row row flex">
{% for product in products %}

<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-sm-6 col-md-4 display panel panel-default">

   <div class="panel-body">
   <div class="products" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

   <h3>{{ product.name }}</h3>
   <p class="product-description">{{ product.description }}</p>
   <p>Price ${{ product.price }}</p>

   <form method="post" action="{% url 'add_to_cart' product.id %}">
   {% csrf_token %}
  <div class="input-group">
  <label for="canvas_size">Select Size:</label>

  <select class="form-control" id="size">
    <option value = "{{ product.size }} ">{{ product.size }}</option>
  </select>

   <div class="input-group">
  <input type="radio" id="signed" value ="checked">Signed
  </input>
   </div>

   <div class="input-group">
     <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" required>
   </div>
     <span class="input-group-btn">
        <button class="btn btn-success" type="submit">Add</button>
      </span>
     </div>
   </form>
   </div>
  
</div>
{% endfor %}
</div>
{% endblock %}
{% endblock %}