{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
{% block additional_styles %}
<style alt="background-img">
	body {
		background-image: url("https://res.cloudinary.com/blueag8/image/upload/v1576281452/photography_website/Italy-Flowers-with-Dog.jpg");
		background: cover;
	}
</style>

{% endblock %}
<div class="panel-body">
	<div class="filter-range">
		<label for="list">Price range:</label>
		<form method="get" action="{% url 'list' %}">
			<div class="input-group" id="filter">
				<div class="range-field">
					<input type="range" id="list" name="price_min" min="0" value="" onchange="minValue(this.value);">
					<input type="range" id="list" name="price_max" max="500" value="" onchange="maxValue(this.value);">
			</div>
				</div>
				<div class="value-field">
					<label for="min_value" id="min">min $ </label>
					<input type="text" id="min_value" value="" disabled>
					<label for="max_value"> max $ </label>
					<input type="text" id="max_value" value="" disabled>
            </div>

					<div class="input-group-btn">
						<button class="btn btn-success" type="submit">Filter</button>
					</div>
				</div>
			</div>
		</form>




		{% for product in filter.qs %}
		<div class="col-md-4 display panel panel-default">
			<div class="panel-body">

				<div class="products" style="background-image: url('{{ CLOUDINARY_URL }}{{ product.image }}')"></div>
				<h3>
					<li><a href="{% url 'product' product.id %}">{{ product.name }}</a></li>
				</h3>
				<p class="product-description">{{ product.description }}</p>
				<p>Price ${{ product.price }}</p>


				<form method="post" action="{% url 'add_to_cart' product.id %}">
					{% csrf_token %}

					<div class="input-group">
						<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" required>
						<span class="input-group-btn">
        <button class="btn btn-success" type="submit">Add</button>
      </span>
					</div>
			</div>
			</form>
		</div>
		{% endfor %}

		{% if messages %}
		<div class="alert">
			{% for message in messages %} {{ message }} {% endfor %}
		</div>
		{% endif %}


		{% for product in products %}
		<div class="col-md-4 display panel panel-default">
			<div class="panel-body">

				<div class="products" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
				<h3>
					<li><a href="{% url 'product' product.id %}">{{ product.name }}</a></li>
				</h3>
				<p class="product-description">{{ product.description }}</p>
				<p>Price ${{ product.price }}</p>


				<form method="post" action="{% url 'add_to_cart' product.id %}">
					{% csrf_token %}

					<div class="input-group">
						<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" required>
						<span class="input-group-btn">
        <button class="btn btn-success" type="submit">Add</button>
      </span>
					</div>
			</div>
			</form>
		</div>
		{% endfor %}
		{% endblock %}