{% load staticfiles %}

<!DOCTYPE html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Orbitron&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head_js %}
    {% endblock head_js %}
     <title>{% block page_title %}Henk de Weerd Photography{% endblock %}</title>
  </head>
  <body>
    <h1>{% block page_heading %}{% endblock %}</h1>
<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
 <a class="navbar-brand" href="#"><img class="logo" src="/static/img/Henk_Photography.jpg"></i></a>
 
       {% if user.is_authenticated %}
           <li class="nav-item">
           <a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
           <li class="nav-item">
           <a class="nav-link"href="{% url 'logout' %}">Logout</a></li>
            {% else %}
           <li class="nav-item">
           <a class="nav-link" href="{% url 'view_cart' %}">Home</a></li>
           <li class="nav-item">
           <a class="nav-link" href="{% url 'view_cart' %}">About</a></li>
           <li class="nav-item">
           <a class="nav-link" href="{% url 'view_cart' %}">Portfolio</a></li>
           <li class="nav-item">
           <a class="nav-link" href="{% url 'view_cart' %}">Shop</a></li>
           <li class="nav-item">
           <a class="nav-link" href="{% url 'view_cart' %}">Contact</a></li>
          
            {% endif %}
            
           <li class="nav-item">
           <a class="nav-link" href="{% url 'view_cart' %}">
         
           <i class="fa fa-shopping-bag"></i>
    
           {% if product_count > 0 %}
           <label class="badge badge-warning">{{product_count}}</label>
           {% endif %}
           </a>
           </li>
  </div>
         
    </nav>

       {% if messages %}
    <div>
        {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %} 

    {% block content %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>




</html>
