{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Orbitron&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	{% block head_js %}
	{% endblock head_js %}
	<title>{% block page_title %}Henk de Weerd | Photography{% endblock %}</title>
</head>

<body>
	<h1>{% block page_heading %}{% endblock %}</h1>

	<div class="container">
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

				<a
					href="{% url 'home' %}"><img class="img-responsive" alt="navbrand" id="logo" src="/static/img/Henk_Photography.jpg"></img></a>
			</div>

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<!-- Navbar content -->

					{% if user.is_authenticated %}
					<li><a href="{% url 'logout' %}">Logout</a></li>
					{% else %}

					<li><a href="{% url 'login' %}">Login</a></li>
					<li> <a href="{% url 'registration' %}">Sign Up</a></li>

					{% endif %}

					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'portfolio' %}">Portfolio</a></li>
					<li><a href="{% url 'products' %}">Shop</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>

					<li>
						<i class="fa fa-shopping-bag"></i>
						<a href="{% url 'view_cart' %}">

							{% if product_count > 0 %}
							<label class="badge badge-warning">{{product_count}}</label>
							{% endif %}
						</a>
					</li>
				</ul>
			</div>
	</div>
	</nav>
	{% if messages %}
	<div class="alert">
		{% for message in messages %} {{ message }} {% endfor %}
	</div>
	{% endif %}

	{% block content %}
	{% endblock %}
</body>
</html>
